<div class="KopeteMessage">
	<div class="IncomingMessageHeader">
		<div class="IncomingMessageHeader1">
			<div class="IncomingMessageHeader2">
				<!-- MetaContact display -->
				<span class="inMetacontact">%sender% &#160;</span>
				<!-- Time Display -->
				<span class="inTime">%time%</span>
			</div>
		</div>
	</div>
	<div class="IncomingBody">
		<div class="IncomingBody1">
			<div class="IncomingBody2">
				<div class="IncomingMessage"  style="direction: %messageDirection%;">
				<img src="images/body-inbound-arrow.png" style="padding-bottom: 2px; vertical-align: middle;"/>%message%
				</div>
				<!-- For support of consecutive messages -->
				<div id="insert" />
			</div>
		</div>
	</div>
	<div class="IncomingFooter">
		<div class="IncomingFooter1">
			<div id="IncomingFooter2" />
		</div>
	</div>

</div>